@import "tailwindcss";
@import "aos/dist/aos.css";

:root {
  --background: #05050f;
  --foreground: #ededed;
   --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.3);
  --swiper-pagination-color: #FEE39A; /* active bullet */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-orbitron);
  --breakpoint-1090: 1090px;
}

.font-orbitron {
  font-family: var(--font-orbitron), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: transparent;
  color: var(--foreground);
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes marquee-vertical-reverse {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 40s linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical 40s linear infinite;
}

.animate-marquee-vertical-reverse {
  animation: marquee-vertical-reverse 40s linear infinite;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto !important;
}

@keyframes text-slide-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(-5px);
  }
}

@keyframes text-slide-right {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(5px);
  }
}

.animate-text-slide-left {
  animation: text-slide-left 1s ease-out 0.3s forwards !important;
  will-change: transform, opacity;
}

.animate-text-slide-right {
  animation: text-slide-right 1s ease-out 0.3s forwards !important;
  will-change: transform, opacity;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #F0AF4E66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(240 175 78 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(240 175 78 / 0%);
  }
}

.hero-cta-button {
  border: none;
  background-image: linear-gradient(30deg, #F0AF4E, #FFCE86);
  border-radius: 12px;
  background-size: 100% auto;
  padding: 0.6em 1.5em;
  transition: all 0.3s ease;
}

.hero-cta-button:hover {
  background-position: right center;
  background-size: 200% auto;
  animation: pulse512 1.5s infinite;
}
